@font-face {
  font-family: 'TransferWise-IconFont';
  src:  url('fonts/TransferWise-IconFont.eot?i67ra7');
  src:  url('fonts/TransferWise-IconFont.eot?i67ra7#iefix') format('embedded-opentype'),
    url('fonts/TransferWise-IconFont.ttf?i67ra7') format('truetype'),
    url('fonts/TransferWise-IconFont.woff?i67ra7') format('woff'),
    url('fonts/TransferWise-IconFont.svg?i67ra7#TransferWise-IconFont') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'TransferWise-IconFont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-glassdoor:before {
  content: "\e947";
}
.icon-ach:before {
  content: "\e900";
}
.icon-add-profile:before {
  content: "\e901";
}
.icon-add:before {
  content: "\e902";
}
.icon-alert-circle:before {
  content: "\e903";
}
.icon-alert:before {
  content: "\e904";
}
.icon-bank:before {
  content: "\e905";
}
.icon-bar-chart:before {
  content: "\e906";
}
.icon-briefcase:before {
  content: "\e907";
}
.icon-camera:before {
  content: "\e908";
}
.icon-card:before {
  content: "\e909";
}
.icon-chat-pending:before {
  content: "\e90a";
}
.icon-check-circle:before {
  content: "\e90b";
}
.icon-check:before {
  content: "\e90c";
}
.icon-close-circle:before {
  content: "\e90d";
}
.icon-close:before {
  content: "\e90e";
}
.icon-collapse:before {
  content: "\e90f";
}
.icon-chat:before {
  content: "\e910";
}
.icon-chats:before {
  content: "\e911";
}
.icon-delete-profile:before {
  content: "\e912";
}
.icon-document:before {
  content: "\e913";
}
.icon-documents:before {
  content: "\e914";
}
.icon-down-arrow:before {
  content: "\e915";
}
.icon-down:before {
  content: "\e916";
}
.icon-download:before {
  content: "\e917";
}
.icon-edit:before {
  content: "\e918";
}
.icon-expand:before {
  content: "\e919";
}
.icon-eye:before {
  content: "\e91a";
}
.icon-facebook-inverse:before {
  content: "\e91b";
}
.icon-facebook:before {
  content: "\e91c";
}
.icon-fast-flag:before {
  content: "\e91d";
}
.icon-gift:before {
  content: "\e91e";
}
.icon-globe:before {
  content: "\e91f";
}
.icon-google:before {
  content: "\e920";
}
.icon-help-circle:before {
  content: "\e921";
}
.icon-help:before {
  content: "\e922";
}
.icon-home:before {
  content: "\e923";
}
.icon-id:before {
  content: "\e924";
}
.icon-joint-account:before {
  content: "\e925";
}
.icon-left-arrow:before {
  content: "\e926";
}
.icon-left:before {
  content: "\e927";
}
.icon-line-graph:before {
  content: "\e928";
}
.icon-link:before {
  content: "\e929";
}
.icon-lock:before {
  content: "\e92a";
}
.icon-login:before {
  content: "\e92b";
}
.icon-logout:before {
  content: "\e92c";
}
.icon-man:before {
  content: "\e92d";
}
.icon-menu:before {
  content: "\e92e";
}
.icon-message:before {
  content: "\e92f";
}
.icon-mobile:before {
  content: "\e930";
}
.icon-money:before {
  content: "\e931";
}
.icon-notification:before {
  content: "\e932";
}
.icon-pdf:before {
  content: "\e933";
}
.icon-pending:before {
  content: "\e934";
}
.icon-profile:before {
  content: "\e935";
}
.icon-receipt:before {
  content: "\e936";
}
.icon-request:before {
  content: "\e937";
}
.icon-right-arrow:before {
  content: "\e938";
}
.icon-right:before {
  content: "\e939";
}
.icon-search:before {
  content: "\e93a";
}
.icon-send:before {
  content: "\e93b";
}
.icon-setting:before {
  content: "\e93c";
}
.icon-transfer:before {
  content: "\e93d";
}
.icon-trash:before {
  content: "\e93e";
}
.icon-twitter:before {
  content: "\e93f";
}
.icon-unlock:before {
  content: "\e940";
}
.icon-up-arrow:before {
  content: "\e941";
}
.icon-up:before {
  content: "\e942";
}
.icon-upload:before {
  content: "\e943";
}
.icon-verification:before {
  content: "\e944";
}
.icon-whatsapp:before {
  content: "\e945";
}
.icon-woman:before {
  content: "\e946";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-linkedin:before {
  content: "\eac9";
}
